<style>
  button {
    display: inline-block;
    margin: 25px 25px 25px 25px;
    padding:  25px 25px 25px 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: red;
  }

  button:disabled {
    background-color: silver;
  }

  #messages {
    height: 300px;
    overflow-y: scroll;
  }
</style>
<h1>Record something</h1>
<p><button id="record" disabled="true">Start</button> <button id="submit" disabled="true">Stop</button></p>
<fieldset id="messages">
  <legend>Messages</legend>
  <span class="message" id="msgTemplate" style="display: none;"></span>
</fieldset>
<script lang="javascript" src="/RecordRTC.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script lang="javascript" src="/javascripts/record.js"></script>
